<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="!(type == 'chat')">
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div id="topmenu">
    <span (touchstart)="clickTab('friends')" [ngClass]="{'active':(type == 'friends')}" class="friends"></span>
    <!-- <span (click)="clickTab('chat')" [ngClass]="{'active':(type == 'chat')}" class="chats"></span> -->
    <span (touchstart)="clickTab('history')" [ngClass]="{'active':(type == 'history')}" class="history"></span>
  </div>

  <div class="show-friends" *ngIf="type == 'friends'">
    <ion-list *ngFor="let friend of friends">
      <ion-item (click)="clickUser(friend)">
        <ion-avatar item-start>
          <img src="assets/avata/avata.jpg">
        </ion-avatar>
        <h2>{{friend.name}}</h2>
        <p>{{friend.email}}</p>
        <div [ngClass]="{'away': (friend.status == 'away'), 'inactive':(friend.status == 'inactive')}" class="status"></div>
      </ion-item>
    </ion-list>
  </div>


  <div *ngIf="type == 'chat'">
    <div (click)="close()" class="close"></div>
    <div class="user_section">
      <div class="user_section1">
        <div class="user_image">
          <img src="assets/avata/avata.jpg">
        </div>
        <div class="user_details">
          <span>{{name}}</span>
          <br/>
          <span>{{email}}</span>
        </div>
      </div>
    </div>

    <div class="messaging">
      <ion-list>
        <ion-item *ngFor="let messege of messeges">
          <div [ngClass]="{'right': (messege.type == 'right'), 'left':(messege.type == 'left')}" class="message">
            <img src="assets/avata/avata.jpg" />
            <div class="bubble">
              {{messege.message}}
              <div class="corner"></div>
              <span>{{messege.timestamp | date}}</span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div class="sendmessages">
      <input style="width: 90%; height: 100%;" type="text" placeholder="Send message..." value="" />
      <button class="send"></button>
    </div>
  </div>

</ion-content>